.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px;
}

.box1 {
  background-color: lightcoral;
}

.box2 {
  background-color: lightblue;
}

.box3 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  background-color: lightgreen;
}

.box4 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  background-color: lightseagreen;
}