.tooltipContent {
  width: 20rem;
  padding: 0.5rem;
}

.tooltipContentHeader {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.tooltipLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
  margin-top: 1rem;
  margin-left: auto;
  padding: 0.5rem 1rem;
  border: 1px solid currentColor !important;
  border-radius: 0.25rem;
  color: inherit !important;
  font-size: 0.75rem;
  transition: background-color 0.1s;
}

.tooltipLink:hover {
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.text {
  text-decoration: underline dotted #aaa;
}
