.box1 {
  background-color: lightcoral;
  width: 80%;
  max-width: 800px;
}

.box2 {
  background-color: lightblue;
  width: 80%;
  min-width: 500px;
}

.box3 {
  background-color: lightgreen;
  width: 80%;
}