<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>
    <%for (const item of selectedBooks){ %>
    <div><%= item.title %></div>
    <% }%>
  </body>
</html>
