body {
  background-color: #f0f0f0;
}

.card {
  background-color: #fff;
  width: 240px;
  border: 1px solid #bbb;
  border-radius: 8px;
}

.plan {
  font-weight: bold;
  font-size: 24px;
}

.price {
  font-size: 20px;
}

.button {
  background-color: #0d6efd;
  color: #fff;
  font-size: 16px;
  width: 100%;
  border: none;
  border-radius: 8px;
}
