.wrapper {
  display: flex;
}

.box1 {
  background-color: lightcoral;
  width: 100px;
  height: 100px;
}

.box2 {
  background-color: lightblue;
  width: 100px;
  height: 100px;
}

.box3 {
  background-color: lightgreen;
  width: 100px;
  height: 100px;
}
