.box1 {
  position: relative;
  margin-left: 200px;
  width: 400px;
  height: 400px;
  background-color: lightcoral;
}

.box2 {
  position: absolute;
  right: 50px;
  bottom: 50px;
  width: 200px;
  height: 200px;
  background-color: lightblue;
}
