<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Title</title>
  </head>
  <body>
    <ul>
      <% for(const message of messages) { %>
        <li><%= message %></li>
      <% } %>
    </ul>

    <form method="post" action="/send">
      <input placeholder="ここに入力してください。" name="message" />
      <button>送信</button>
    </form>
  </body>
</html>
