<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>ut商会</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>車</th>
          <th>指輪</th>
          <th>エビ</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <% for ( const item of items ){%>
            <td><form action=<%= `/${item}` %>><button>購入</button></form></td>
            <% } %>
          </tr>
      </tbody>
    </table>
    <% if(recommended){ %>
      <div>あなたへのおすすめは<%= recommended %>です</div>
      <% } %>
  </body>
</html>
