#calender > td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

#calender {
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

input {
  background-color: gainsboro;
  border: none;
  outline: none;
  width: 50px;
  font-size: xx-small;
  padding: 0ch;
}

div {
  position: relative;
  font-size: xx-small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

ul {
  position: relative;
  margin-top: 0ch;
  margin-bottom: 0ch;
  padding: 0%;
  list-style-type: none;
}

li {
  background-color: gainsboro;
  margin-bottom: 2px;
}

button {
  visibility: hidden;
}
