<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Title</title>
  </head>
  <body>
    <ul>
      <% for(const book of books) { %>
      <li><%= book.title %></li>
      <% } %>
    </ul>
  </body>
</html>
