body {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: normal;
}

#header {
  z-index: 10;
  width: 100%;
  height: 80px;
  padding: 20px;
  background-color: #666;
  color: #fff;
  text-align: center;
  /* 以下の部分を追加: (1) */
  position: fixed;
  top: 0;
}

#wrapper {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  /* 以下の部分を追加: (1) */
  margin-top: 120px;
}

.card {
  border-width: 0 2px 2px 2px;
  border-style: solid;
  border-color: #666;
  padding: 20px;
}

.place {
  margin: 0;
  padding: 10px;
  background-color: #666;
  color: #fff;
}

.reservation {
  width: 5rem;
  text-align: center;
}

.needed {
  background-color: lightpink;
}

.not-needed {
  background-color: lightgreen;
}

.block {
  background-color: lightcoral;
  width: 100px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
}

.inline {
  background-color: lightblue;
  width: 100px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
}
