@media (orientation: landscape) {
  #div1 {
    color: red;
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: solid;
  }
}

@media (orientation: portrait) {
  #div2 {
    color: red;
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: solid;
  }
}
