body {
  overflow-y: hidden;
}

.no-category {
  opacity: 0.3;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  border-right: solid;
}

.sidenav .nav-list {
  list-style: none;
  padding-left: 0;
}

.sidenav .nav-row {
  display: flex;
}

.sidenav .off-focus {
  display: block;
  text-align: left;
  height: 25px;
  background-color: white;
  border: none;
  width: 100%;
  transition: 0.1s;
}

.sidenav .off-focus:hover {
  background-color: gainsboro;
}

.sidenav .on-focus {
  display: block;
  text-align: left;
  height: 25px;
  background-color: gainsboro;
  border: none;
  width: 100%;
}

.sidenav .delete-button {
  display: block;
  border: none;
}

.main {
  margin-left: 200px;
  padding-top: 60px;
}

.todo-table {
  width: 100%;
}

th {
  border-bottom: solid;
}

.header1 {
  width: 70%;
}

.header2 {
  width: 20%;
}

td {
  border-bottom: solid 1px;
}

.todo {
  display: flex;
  height: 25px;
  vertical-align: middle;
}

.editing-todo {
  height: 25px;
  vertical-align: middle;
}

.editing-todo form {
  display: flex;
}

.no-todo {
  display: flex;
  height: 25px;
  vertical-align: middle;
  opacity: 0.3;
}

.category {
  text-align: center;
}

.add-button {
  border: none;
}

.edit-button {
  display: block;
  margin-left: auto;
  border: none;
}

.confirm-button {
  display: block;
  margin-left: auto;
  border: none;
}

td .delete-button {
  display: block;
  margin-left: 2px;
  border: none;
}

.done {
  text-align: center;
}

.category-input {
  border: none;
  border-bottom: solid 1px;
  outline: none;
}

.category-input ::after {
  left: 0;
  top: 30px;
  content: error;
  color: red;
}

.hidden {
  display: none;
}
