header {
  height: 70px;
  display: flex;
  border-bottom: solid;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 0;
  align-items: center;
}

.logo {
  font-size: 40px;
}

.logo span {
  color: springgreen;
}

ul.nav {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: auto;
  height: 100%;
}

.nav li {
  height: 100%;
  width: 100px;
  border-right: solid;
}

li.nav-about {
  border-left: solid;
}

header a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
}

.link {
  height: 45px;
  padding-top: 25px;
  transition: 0.25s;
}

.link:hover {
  background-color: palegreen;
}

h1 {
  margin-top: 100px;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 300px 300px;
  justify-content: center;
  gap: 40px 50px;
}

article {
  overflow: hidden;
  background-color: black;
}

article a {
  text-decoration: none;
}

article div.title {
  height: 100%;
  display: block;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}
