<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Title</title>
  </head>
  <body>
    <ul>
      <% for (const listItem of listItems) { %>
        <li><%= listItem %></li>
      <% } %>
    </ul>
  </body>
</html>
